<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js/lib")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Reddit By Antonio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @{
                    if (ViewBag.User != null)
                    {
                        if (ViewBag.User.Role.RoleName == "Admin")
                        {
                            <a href="/admin/index" class="text-center navbar-text ">Admin Panel</a>
                            <div class="corner-ribbon top-right sticky orange">Admin View</div>
                        }
                    }
                }

                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (ViewBag.User != null)
                        {
                            <li><p class="navbar-text">@ViewBag.User.UserName</p></li>
                            <li>@Html.ActionLink("Log off", "Logoff", "Login")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reddit By Antonio </p>
        </footer>
    </div>
</body>

</html>
