@model IEnumerable<AkuznetsovReddit.Web.Models.UserVm>
<h2 class="text-center">Admin Panel</h2>
<br/>
<div>
    <a href="/Topic/Index" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left" title="Back to topics"></i></a>
</div>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
<div>
    <a href="/Topic/Index" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left" title="Back to topics"></i></a>
</div>
